/**
 * 模块：tshop-um-ad2 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-ad22"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-ad2 {display:block}

.tshop-um-ad2 .f_yahei { font-family: "微软雅黑", tahoma; }
.tshop-um-ad2 .f_st { font-family: "宋体"; }
.tshop-um-ad2 .m_grid1 a:hover { zoom: 1; }
.tshop-um-ad2 a { color: #777777; }
.tshop-um-ad2 a:hover { text-decoration: none; }
.tshop-um-ad2 .clear { zoom: 1; }
.tshop-um-ad2 .clear:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.tshop-um-ad2 .type950 { width: 950px; overflow: hidden; }
.tshop-um-ad2 .type750 { width: 750px; overflow: hidden; }
.tshop-um-ad2 .col { float: left; height: auto; overflow: hidden; _display: inline; background-color: #FFF; }
#page #content .tshop-um-ad2 .col0 { margin-left: 0; }
.tshop-um-ad2 .type950 .f0 .cnt4 .col { width: 230px; margin-left: 10px; }
.tshop-um-ad2 .type950 .f0 .cnt3 .col { width: 310px; margin-left: 10px; }
.tshop-um-ad2 .type950 .f0 .cnt2 .col { width: 470px; margin-left: 10px; }
.tshop-um-ad2 .type950 .f0 .cnt1 .col { width: 950px; }
.tshop-um-ad2 .type750 .f0 .cnt3 .col { width: 244px; margin-left: 9px; }
.tshop-um-ad2 .type750 .f0 .cnt2 .col { width: 370px; margin-left: 10px; }
.tshop-um-ad2 .type750 .f0 .cnt1 .col { width: 750px; }
.tshop-um-ad2 .col { height: 131px; overflow: hidden; }
.tshop-um-ad2 .item-box { height: 100%; width: 100%; display: block; }
.tshop-um-ad2 .item-box .def-pic, .tshop-um-ad2 .item-box .hover-pic { height: 100%; background-repeat: no-repeat; }
.tshop-um-ad2 .hover-on .item-box { position: relative; *position:static;
transition: top 1s; -moz-transition: top 1s; -webkit-transition: top 1s; -o-transition: top 1s; }
.tshop-um-ad2 .pic-def .def-pic, .tshop-um-ad2 .pic-def .hover-pic { background: url(../../assets/images/pink-adpic.png) no-repeat; }
.tshop-um-ad2 .type950 .cnt3 .col1 .pic-def .def-pic { background-position: -320px 0; }
.tshop-um-ad2 .type950 .cnt3 .col2 .pic-def .def-pic { background-position: -640px 0; }
.tshop-um-ad2 .type950 .cnt3 .col0 .pic-def .hover-pic { background-position: 0px -131px; }
.tshop-um-ad2 .type950 .cnt3 .col1 .pic-def .hover-pic { background-position: -320px -131px; }
.tshop-um-ad2 .type950 .cnt3 .col2 .pic-def .hover-pic { background-position: -640px -131px; }
.tshop-um-ad2 .hover-on .item-box:hover { _zoom: 1; }
.tshop-um-ad2 .hover-on .item-box:hover .def-pic { *display:none;
}
.tshop-um-ad2 .hover-on .item-box:hover { top: -100%; *top:0;
}
