<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-pbsm-shop-item-recommend</id>
    <name>宝贝推荐</name>
    <thumbnail>http://img04.taobaocdn.com/tps/i4/T1OZvgXb4fXXcu8V6l-64-64.png</thumbnail>
    <description>[提示：请为系统模块{宝贝推荐}添加描述信息]</description>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
</module>
