<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-banner</id>
    <uuid>494ca840a74e4bf5896d31bdd76fc3a3</uuid>
    <name>店铺招牌</name>
    <file>tshop-um-banner.php</file>
    <thumbnail>../../assets/images/banner.png</thumbnail>
    <description>店铺招牌</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="简约">
        <theme name="简约">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="招牌设置">
            <section title="店招设置" folded="false">
                <param description="招牌应用样式" formType="select" label="招牌应用样式" name="bannerxuanze" ptype="text">
                    <option value="1" selected="selected">文字</option>  
                    <option value="0">图片</option>
                </param>
                <param description="店招背景高度" formType="text" label="店招背景高度" name="banner_height" ptype="number">120</param>
                <param description="店招图片地址" formType="text" label="店招图片地址" name="banner_picture" ptype="text">http://img.taobao.com/L1/142/417533648/modules/tshop-um-shop-sign/assets/images/black-hd.gif</param>
            </section>
            <section title="店招文字设置" folded="true">
                <param description="左边距" formType="text" label="左边距" name="wz_left" ptype="number">0</param>
                <param description="上边距" formType="text" label="上边距" name="wz_top" ptype="number">25</param>
                <param description="店铺名称" formType="text" label="店铺名称" name="title_wz" ptype="text">这是一个美丽的店</param>
                <param description="字体大小" formType="text" label="字体大小" name="font_size" ptype="number">36</param>
                <param description="字体颜色 如:#f94551" formType="text" label="字体颜色" name="color" ptype="text">#000000</param>
                <param description="字体选择" formType="select" label="字体选择" name="family" ptype="text">
                    <option value="微软雅黑" selected="selected">微软雅黑</option>
                    <option value="黑体">黑体</option>
                    <option value="宋体">宋体</option>
                    <option value="幼圆">幼圆</option>
                    <option value="华文楷体">华文楷体</option>  
                </param>
                <param description="字体粗细" formType="select" label="字体粗细" name="font_weight_f" ptype="text">
                    <option value="bold" selected="selected">加粗</option>
                    <option value="normal">不加粗</option>                 
                </param>
                <param description="字体间距" formType="text" label="字体间距" name="letter_spacing" ptype="number">0</param>
            </section>
            <section title="搜索设置" folded="true">
                <param description="如,包邮,促销,外套,最热卖的服装关键字" formType="text" label="搜索热门字" name="hotwz" ptype="text">新品</param>
                <param description="搜索左边距" formType="text" label="搜索左边距" name="so_left" ptype="number">820</param>
                <param description="搜索上边距" formType="text" label="搜索上边距" name="so_top" ptype="number">126</param>
            </section>
        </group>
        <group title="滚动文字">
            <section title="" folded="false">
                <param description="左边距" formType="text" label="左边距" name="banner_gonggao_left" ptype="number">320</param>
                <param description="上边距" formType="text" label="上边距" name="banner_gonggao_top" ptype="number">100</param>
                <param description="文字内容,多条文字用|分开" formType="textarea" label="滚动文字内容" name="banner_gonggao" ptype="textarea">今日促销活动开始啦|上新货啦！|每周三上新!每周三上新!每周三上新!每周三上新!|亲们记得收藏哦..了解店铺最新优惠动态|最热卖的这款补货啦|亲们记得收藏哦..了解店铺最新优惠动态|每周三上新!每周三上新!每周三上新!每周三上新!</param>
                <param description="滚动文字链接" formType="textarea" label="滚动文字链接" name="banner_gglj" ptype="textarea">#|#|#|#|#|#|#</param>
            </section>
        </group>
        <group title="显示设置">
            <section title="" folded="false">
                <param description="" formType="range" label="滚动公告" name="banner_gonggaogg" ptype="text">
				 	<option value="1" selected="selected">显示</option>
                    <option value="0">隐藏</option>  
				</param>
                <param description="" formType="range" label="收藏店铺" name="banner_shoucang" ptype="text">
				 	<option value="1" selected="selected">显示</option>
                    <option value="0">隐藏</option>  
				</param>
                <param description="" formType="range" label="店铺分享" name="banner_fenxiang" ptype="text">
				 	<option value="1" selected="selected">显示</option>
                    <option value="0">隐藏</option>  
				</param>
                <param description="" formType="range" label="客服中心" name="banner_wangwang" ptype="text">
				 	<option value="1" selected="selected">显示</option>
                    <option value="0">隐藏</option>  
				</param>
                <param description="" formType="range" label="搜索宝贝" name="shaosongshezhi" ptype="text">
				 	<option value="1" selected="selected">显示</option>
                    <option value="0">隐藏</option>  
				</param>
                <param description="" formType="range" label="宝贝推荐" name="h-goods" ptype="text">
				 	<option value="1" selected="selected">显示</option>
                    <option value="0">隐藏</option>  
				</param>
                <param description="" formType="range" label="倒计时" name="h-time" ptype="text">
				 	<option value="1" selected="selected">显示</option>
                    <option value="0">隐藏</option>  
				</param>
            </section>
        </group>
    </parameters>
</module>
